{{ define "main" }}
<img src="/img/logo.webp" alt="Logo di GABGVideo" height="50%" width="30%">
<h1>Benvenuto su GABGVideo!</h1>
<p>
	GABGVideo è un sito dove è possibile trovare informazioni aggiuntive riguardo i <s>contenuti audiovisivi</s> video pubblicati da GABG.
	<br>
	Qui sotto ci sono alcuni link che potrebbero tornare utili:
	<ul>
		<li><a href="https://gabg.link/youtube">Canale Youtube</a></li>
		<li><a href="https://gabg.link/odysee">Canale Odysee</a></li>
		<li><a href="https://gabg.link/secondo-canale">Secondo canale, esclusivo Odysee e attualmente vuoto</a></li>
		<li><a href="https://gabg.link">Sito web personale</a></li>
		<li><a href="/video">Lista di tutti i video</a></li>
	</ul>
	<p>
		<a href="https://odysee.com">Odysee</a> è una piattaforma alternativa a Youtube con molti punti di forza ma anche alcune inferiorità
		<br>
	</p>

	<p>
		<link rel="stylesheet" href="/css/pages/index.css">
		Tutti i link qui sopra utilizzano <code>gabg.link</code>.
		<br>
		Quest'ultimo è un sito web che fornisce URL facilmente memorizzabili, ad esempio:
		<span>
			<span class="green">gabg</span>.<span class="blue">link</span>/<span class="yellow">youtube</span>
			è facilmente ricollegabile alla frase:
			<span class="blue">link</span>
			al canale
			<span class="yellow">youtube</span>
			di
			<span class="green">gabg</span>
		</span>
	</p>
</p>

<h1 id="info-video-non-compressi">Info video non compressi</h1>
<p>
	In ogni pagina dedicata ad un video è possibile trovare un tasto che re-invia ad un link dove è possibile scaricare una versione non compressa dei miei video.
	<br>
	La compressione di Youtube, in alcuni casi, può rovinare la visione del video generando un contenuto sgranato nelle immagini in rapido movimento.

	<br>

	<blockquote style="max-width: 85%; margin-left: 7%">
		Nota e disclamer: anche se i file vengono chiamati <em>non compressi</em>, vengono forniti nel container Matroska (estensione .mkv) con il codec video H265 e codec audio AAC, questo significa che il video è, in realtà, compresso in qualche modo.
		<br><br>
		In questo sito web il termine <em>non compresso</em> significa: <em>non compresso ulteriormente da qualsiasi piattaforma dove il creatore del video non ha il controllo a riguardo</em>
	</blockquote>
</p>
{{ end }}
